/* Tryb jasny */
@media (prefers-color-scheme: light) {
  body {
    background: #ffffff;
    color: #000;
  }
}

/* Tryb ciemny */
@media (prefers-color-scheme: dark) {
  body {
    background: #111;
    color: #eee;
  }
}

:root {
  --headersFontSize: 18px;
  --tableHeadersFontSize: 14px;
  --insertsFontSize: 12px;
}

* {
  box-sizing: border-box;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.leftDataInput {
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: 400px;
}

.introDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 21px;
  margin-bottom: 15x;
  text-align: center;
}

#btnZoomIn,
#btnZoomOut {
  width: 75px;
  height: 45px;
  font-size: 15px;
}

.dataInput {
  align-items: center;
  display: flex;
  margin: 10px;
  max-width: 400px;
}

.dataInput::placeholder {
  color: lightgray;
}

.dataInput > h2,
.dataInput > label {
  width: 175px;
}

.dataInput > input {
  height: 30px;
  margin: 5px 0;
}

.btnDiv {
  display: flex;
  justify-content: center;
}

.buttons {
  background-color: #2b49a3;
  border-radius: 15px;
  border: 1px solid cornflowerblue;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  height: 50px;
  margin-right: 15px;
  margin-top: 30px;
  width: 110px;
}

.buttons:last-of-type {
  margin-right: 0;
}

.buttons:hover {
  transform: scale(1.1);
}

#reportToPdf {
  margin-left: 30px;
}

#reportToPdf > h1,
#reportToPdf > h2,
#reportToPdf > h3 {
  font-size: var(--headersFontSize);
  margin-bottom: 10px;
}

#reportToPdf > h1 > span,
#reportToPdf > h2 > span,
#reportToPdf > h3 > span {
  font-size: var(--headersFontSize);
  font-weight: bold;
  text-decoration: underline;
}

table {
  border-collapse: collapse;
  margin-bottom: 15px;
  max-width: 475px;
  width: 100%;
}

th,
td {
  border: 1px solid;
  font-size: var(--tableHeadersFontSize);

  text-align: center;
}

#tBody > tr > td,
#tBody > tr > td > textarea {
  font-size: var(--insertsFontSize);
  max-width: 220px;
}

/* textarea {
  border: none;
} */

#indicatorsContainer {
  page-break-after: always;
}

#indicatorsTable > tbody > tr > td {
  min-width: 80px;
  padding: 5px;
}

.scoredPointsArea {
  resize: none;
}

.studentNameArea {
  resize: none;

  min-width: 220px;
}

.taskDifficultyTextArea {
  font-size: var(--insertsFontSize);
  padding: 5px;
  resize: none;
  text-align: center;
  width: 100%;
}

#analysisTask {
  margin-bottom: 15px;
  width: 100%;
}

.taskAnalysisDifficultyTextArea {
  font-size: var(--insertsFontSize);
  min-height: 100px;
  width: 100%;
}

#analysisTask > h3 {
  margin: 15px 0 0 0;
}

h4 {
  font-size: var(--tableHeadersFontSize);
  margin-bottom: 10px;
}

#reportPreparedByContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  width: 100%;
}

#reportPreparedBy {
  font-size: var(--insertsFontSize);
  height: 25px;
  min-width: 330px;
  resize: vertical;
  text-align: center;
}

#reportToPdf {
  height: 100%;
}

#btnDownloadEnd {
  margin-left: 0;
  margin-bottom: 40px;
}

/* footer {
  height: 100px;
  margin-top: 25px;
  width: 100%;
} */

/* ===== PDF MODE ===== */
.pdf-mode {
  width: 210mm;
  padding: 10mm;
  margin: 0 0;
  background: #fff;
}

.pdf-mode * {
  box-sizing: border-box;
  /* font-size: 9px !important; */
  padding: 3px;
  /* font-size: calc(var(--headersFontSize) - 2px);
  font-size: calc(var(--insertsFontSize) - 2px);
  font-size: calc(var(--tableHeadersFontSize) - 2px); */
}

.pdf-mode #reportToPdf {
  margin: 0 !important;
  display: block !important;
}

.pdf-mode table {
  width: 100% !important;
}

.pdf-mode table,
.pdf-mode textarea,
.pdf-mode div {
  max-width: 100%;
}

/* ===== RESPONSIVE DESIGN ===== */
/* Mobile responsive design */
@media (min-width: 320px) and (max-width: 767px) {
  main {
    flex-direction: column;
    align-items: center;
  }

  .leftDataInput,
  .dataInput {
    max-width: 740px;
    width: 90%;
    align-items: center;
    justify-content: center;
  }

  .dataInput {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .dataInput > label {
    text-align: center;
  }

  .btnDiv {
    flex-direction: column;
    align-items: center;
  }

  .buttons {
    margin: 10px 0 5px 0;
  }

  #reportToPdf {
    width: 100%;
    margin: 15px auto;
    text-align: center;
  }

  table {
    width: 90%;
    margin: 0 auto 15px auto;
  }

  .studentNameArea {
    width: 100%;
    min-width: 100px;
  }

  /* .taskAnalysisDifficultyTextArea {
    max-width: 310px;
    margin: 0 auto;
  } */

  #reportPreparedBy {
    max-width: 300px;
  }
}

/* ===== TABLET RESPONSIVE DESIGN ===== */
@media (min-width: 768px) and (max-width: 1023px) {
  /* .dataInput > label {
    text-align: center;
  } */

  .buttons {
    margin: 10px 5px 5px 5px;
  }

  #reportToPdf {
    /* width: 100%; */
    margin: 15px 15px;
    /* text-align: center; */
  }

  #reportToPdf > div > h3 {
    text-align: left;
  }

  table {
    width: 100%;
    /* margin: 0 auto 15px auto; */
  }

  .taskAnalysisDifficultyTextArea {
    max-width: 360px;
    /* margin: 0 auto; */
  }

  /* #reportPreparedBy {
    max-width: 400px;
  } */
}

/* @media (max-width: 1023px) {
  body:not(.pdf-mode) main {
    flex-direction: column;
  }

  body:not(.pdf-mode) table {
    width: 90%;
  }
} */
